<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
        {{!-- <img src="/user/photos/LOGO.png" style="border-radius: 50%;"> --}}
      </div>
      <div class="sidebar-brand-text mx-3"></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Features
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/customers" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-users"></i>
        <span>Customers</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/products" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-shopping-bag"></i>
        <span>Products</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/categoryandbrand" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-folder-open"></i>
        <span>Categories & Brands</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/transactions" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-credit-card"></i>
        <span>Transactions</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/customers" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-user-shield"></i>
        <span>Admins</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/orders" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-shopping-cart"></i>
        <span>Ordres</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/banners" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-image"></i>
        <span>Banners</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/coupons" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-ticket-alt"></i>


        <span>Coupons</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/offers" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="fas fa-tag"></i>

        <span>Offers</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"></h6>


        </div>
    </li>




    {{!-- --}}



    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
  </ul>
  <!-- Sidebar -->
  <div id="content-wrapper" class="">
    <div id="content">
      <!-- TopBar -->
      <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
          <i class="fa fa-bars white-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">

          <div class="topbar-divider d-none d-sm-block"></div>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
              <span class="ml-2 d-none d-lg-inline text-white small">{{adminId}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Topbar -->


    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>