<div class="col-md-2">
    <button class="btn " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <i class="fas fa-bars text-dark"></i> My Profile
    </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">My Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Add a form element around the existing content -->

            <ul class="list-unstyled">
                <li class="nav-item">
                    <a class="" href="/userprofile">
                        <i class="fas fa-pencil-alt"></i>
                        <span class="ms-2">Edit Profile</span>
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="" href="/savedaddresses">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="ms-2">Saved Addresses</span>
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="" href="/wallet">
                        <i class="fas fa-wallet"></i>
                        <span class="ms-2">Wallet</span>
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="" href="/myorders">
                        <i class="fas fa-shopping-bag"></i>
                        <span class="ms-2">My Orders</span>
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="" href="/viewcart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="ms-2">Cart</span>
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="" href="/view-wishlist">
                        <i class="fas fa-heart"></i>
                        <span class="ms-2">Wishlist</span>
                    </a>
                </li>
                <br>
                <li class="">
                    <a class="" href="/user-reviews">
                        <i class="fas fa-star"></i>
                        <span class="ms-2">Reviews</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
