<div class="container mt-5">
    <h1>Edit Profile </h1>

    <h3 class="text text-success">{{successMessage}}</h3>

    <form id="profileForm" action="/set-new-password-forgot" method="post" >
        
        <div class="form-group">
            <label for="profileNewPassword">New Password</label>
            <input type="password" class="form-control" id="profileNewPassword" name="Password" placeholder="Enter your new password">
            <p id="profileNewPasswordError" class="text-danger">{{notMatching}}</p>
        </div>
        <div class="form-group">
            <label for="profileConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="profileConfirmPassword" name="ConfirmPassword" placeholder="Confirm your new password">
            <p id="profileConfirmPasswordError" class="text-danger">{{notMathing}}</p>
        </div>
        <button type="submit" class="btn btn-primary" onclick="">Change Password</button>
    </form>
</div>


   
   <script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('profileForm');
    const newPasswordField = document.getElementById('profileNewPassword');
    const confirmPasswordField = document.getElementById('profileConfirmPassword');
    const newPasswordError = document.getElementById('profileNewPasswordError');
    const confirmPasswordError = document.getElementById('profileConfirmPasswordError');

    form.addEventListener('submit', function (event) {
        let isValid = true;

        newPasswordError.textContent = '';
        confirmPasswordError.textContent = '';

        const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

        if (newPasswordField.value.trim() === '') {
            newPasswordError.textContent = 'New Password is required';
            isValid = false;
        }

        if (!passwordPattern.test(newPasswordField.value)) { // Use test method to check against the pattern
            newPasswordError.textContent = 'Minimum eight characters, at least one letter, one number, and one special character';
            isValid = false;
        }

        if (newPasswordField.value !== confirmPasswordField.value) {
            confirmPasswordError.textContent = 'Passwords do not match';
            isValid = false;
        }

        if (!isValid) {
            event.preventDefault(); // Prevent form submission if there are errors
        }
    });
});
</script>



